.holder{
    height: 100%;
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: aqua;
}

.company{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50%;
    margin: 2%;
    background-color: antiquewhite;
}
.comleft{
    display: flex;
    width: 50%;
    border-radius: 5%;
}
.comright{
    display: flex;
    width: 50%;
    border-radius: 5%;
}